*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button{
  padding: 10px;
  border-radius: 5px;
  background-color: green;
  color: white;
}
input{
  padding: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e2e2e2;
  margin-right: 10px;
}
.weather-cards ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  margin: 50px auto;
  width: 80%;
}

.weather-cards li{
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}